.policy-list {
  width: 600px;
}

.policy-item {
  padding: 4px;
  border: 1px solid;
  margin: 1px;
  background-color: #F9F9F9;
}

.policy-number {
  font-weight: bold;
}

.policy-item.selected {
    background-color: #EEE;
}