@fontface {
  font-family: 'Roboto', cursive;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.policy-list {
  max-width: 600px;
}

.policy-item {
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #F9F9F9;
  border: 1px solid #999;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(189,189,189,1);
  -moz-box-shadow: 4px 4px 15px 0px rgba(189,189,189,1);
  box-shadow: 4px 4px 15px 0px rgba(189,189,189,1);
}

.policy-item > div,
.policy-details > div {
  margin-bottom: 5px;
}

.policy-details:last-child {
  margin-bottom: 0;
}
.policy-item:hover {
  background-color: #f1f1f1;
}

.policy-holder span {
  font-weight: bold;
}

.policy-number {
  font-weight: bold;
}

.policy-details {
  margin-top: 10px;
  padding: 10px;
  background: #ccc;
  border-top: 1px solid #aaa;
}